/*start main ,pop div*/
.main,.pop{
    width: 500px;
    height: 150px;
    background-color: #eee;
    color: rgb(68, 65, 65);
    padding: 10px;
    margin-left: 300px;
    border: solid 1.5px rgb(134, 40, 40);
}
/*start popup and pop div*/
.popup{width: 2000px;height: 1600px;}
.popup .pop{
    margin-top: 10px;
    transform: scale(1.25);
    display: none;
    
}
/*any button*/
button{
    background-color: rgb(134, 40, 40);
    border: none;
    color: white;
    padding: 10px;
    margin-left: 150px;
}
/*button ok*/
.pop #ok{
    width: 70px;
    margin-left: 200px;
}
